*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: #ccc;
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
    /* flex-grow: 1; */
    flex-wrap: wrap;
}
.item{
    background-color: #f1425d;
    padding: 30px;
    margin: 30px;
    color:#fff;
    font-size: 40px;
    /* flex-grow: 1; */
}

.i2{
    height: 200px;
    order: 4;
    flex:1 0 300px
}

.i4{
    font-size: 70px;
    align-self: flex-end;
    order: -1;
    /* flex-grow: 3; */
    /* flex-basis: 100%;; */
}